@charset "utf-8";

/* -------------------------
    riset
---------------------------- */
* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

body {
    color: #383e45;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* -------------------------
    header
---------------------------- */
.wrapper {
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.profile {
    background-color: #393E46;
    display: block;
    padding: 1px 15px 10px;
}

.profile a {
    color: #fff;
    font-size: 27px;
}

.link ul {
    display: flex;
    justify-content: space-between;
}

.link ul>li {
    padding: 15px;
}

.link a {
    color: #393E46;
    font-size: 20px;

}

.link a:hover {
    text-decoration: underline;
}

/* -------------------------
    main-visual
---------------------------- */
.main-visual {
    height: 600px;
    background-image: url(../img/main1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 100px;
}

/* -------------------------
    main
---------------------------- */
.about {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

main h2 {
    font-size: 35px;
    display: inline-block;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 6px;
    border-bottom: 1px solid #383e45;
    margin-bottom: 60px;
}

.img {
    width: 100px;
}

.img img {
    object-fit: cover;
    border-radius: 50%;
}

.name {
    width: 450px;
    margin-left: 20px;
    text-align: left;
}

.name h3 {
    margin-bottom: 10px;
}

.name p {
    line-height: 1.8;
}

.bicycle ul {
    display: flex;
    margin-bottom: 100px;
}

.bicycle li {
    margin: 0 20px;
}

.bicycle img {
    margin-bottom: 20px;
}

.bicycle h3 {
    margin-bottom: 20px;
}

/* -------------------------
    footer
---------------------------- */

footer {
    text-align: center;
}

/* -------------------------
    rwd
---------------------------- */
@media (max-width:600px) {

    /* main-visual */
    .main-visual {
        height: 400px;
        background-image: url(../img/main1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin-bottom: 100px;
    }

    /* main */
    .about {
        display: block;
        margin-bottom: 100px;
    }

    .img {
        width: 100px;
        margin: 0 auto 20px;
    }

    .img img {
        object-fit: cover;
        border-radius: 50%;
    }

    .name {
        width: auto;
    }

    .bicycle ul {
        display: block;
        margin-bottom: 100px;
    }

    .bicycle p {
        margin-bottom: 40px;
    }
}